{% extends 'base.html.twig' %}

{% block body %}
<h1>
	Viser ting av typen &apos;{{ type.name }}&apos;
</h1>
<p>
	Navn:
	{{ type.name }}
</p>
<p>
	Antall:
	{{ type.count }}
</p>
<table>
	<tr>
		<th>#</th>
		{% for property in properties %}
		<th>{{ property.name }}</th>
		{% endfor %}
	</tr>
	{% for thing in things %}
	<tr>
		<td>
			<a href="{{ path("thing_show", { "id": thing.id }) }}">
			    {{ thing.id }}
			</a>
		</td>
		{% for thingValue in thing.thingValues %}
		<td>{{ thingValue.value }}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{% endblock %}

{% block hotkeys %}
e      edit
Escape cancel
f      filter
{% endblock %}
