{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {{ thing.name }}
    </h1>
    <h2>
        <a href="{{ path("type_show", { "id": thing.type.id}) }}">{{ thing.type.name }}</a>#{{ thing.type.id }}
    </h2>
    <p>
        Navn: {{ thing.name }}
    </p>
    <p>
        {#Antall: {{ type.count }}#}
    </p>
    <table>
    {% for kv in keyValuePairs %}
        <tr>
            <th>{{ kv.key }}</th>
            {% if kv.defaulted %}
            <td><i>{{ kv.value }}</i></td>
            {% else %}
            <td>{{ kv.value }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>

    {% for comment in thing.comments %}
        {% include 'thing_comment.twig.html' %}
    {% endfor %}
{% endblock %}

{% block hotkeys %}
e           edit
Escape      cancel
Alt+ArrowUp up
t           up
{% endblock %}

{% block js %}
<script type="text/javascript">
window.hotkeyUpUrl = "{{ path("type_show", {id: thing.type.id}) }}"
</script>
{% endblock %}